body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}


.headertitle {
    color: orange
}

.flexible-container {

    display: flex;
    margin-bottom: 100px;

}

.halfwidth {
    width: 50%;
    padding-left: 5%;

}

.halfwidth img {

    width: 70%;
}

.linkbutton {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 400;
    padding: 10px 40px;
    border-radius: 5px;

}

.topbanner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.secondpart {

    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.exppart {
    background-image: url(images/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;
}




.containertitle {
    color: orange;
}

.containershadow {
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    padding-left: 20px;
    border-radius: 4px;

}

#full-stack-developer {
    border-left: 7px solid tomato;
}

#abal-developer {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
}