body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.headertitle {
    color: orange
}

section {

    display: flex;
    margin-bottom: 100px;

}

.halfwidth {
    width: 50%;
    padding-left: 5%;

}

.halfwidth img {

    width: 70%;
}

.linkbutton {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 400;
    padding: 10px 40px;
    border-radius: 5px;

}

.topbanner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.secondpart {

    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

p {
    width: 80%;

}